* {
    font-family: 'Bruno Ace SC', cursive;
    margin: 0;
}

.big-container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.container {
    display: flex;
    padding: 100px;
    justify-content: center;
    gap: 150px;
}

.results,
.score {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-right: 35px;
}