* {
    font-family: 'Bruno Ace SC', cursive;
    margin: 0;
}


body {
    background-image: url(https://images.unsplash.com/photo-1534269222346-5a896154c41d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80;);
}

.big-container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
    color: #c0da74;
}

.container {
    display: flex;
    padding: 100px;
    justify-content: center;
    gap: 400px;
}

.results,
.score {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

#rps {
    border-radius: 25px;
    border: 2px solid #2f6617;
    background-color: #2f6617;
    color: #c0da74; 

}

.restart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}